@import 'tailwindcss';
@import 'remixicon/fonts/remixicon.css';

@theme {
    --color-bg: var(--bg);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-text: var(--text);

    /* Animated background values */
    --color-bg1: var(--bg1);
    --color-bg2: var(--bg2);
    --color-color1: var(--color1);
    --color-color2: var(--color2);
    --color-color3: var(--color3);
    --color-color4: var(--color4);
    --color-color5: var(--color5);
    --color-interactive: var(--interactive);
}

:root {
    --bg: #ffffff;
    --primary: #4f46e5;
    --seconday: #6366f1;
    --text: #000000;

    /* Animated background values */
    --bg1: rgba(16, 24, 40, 1);
    --bg2: rgba(26, 34, 53, 1);
    --color1: #3b82f6;
    --color2: #d946ef;
    --color3: #22d3ee;
    --color4: #ef4444;
    --color5: #eab308;
    --interactive: #8b5cf6;
}

.dark {
    --bg: #101828;
    --primary: #4f46e5;
    --seconday: #6366f1;
    --text: #ffffff;

    /* Animated background values */
    --bg1: rgba(16, 24, 40, 1);
    --bg2: rgba(26, 34, 53, 1);
    --color1: #3b82f6;
    --color2: #d946ef;
    --color3: #22d3ee;
    --color4: #ef4444;
    --color5: #eab308;
    --interactive: #8b5cf6;
}